/README.md text eol=lf
/FILE_MANIFEST.tsv text eol=lf
/method_B/**/*.sh text eol=lf
/method_B/**/*.py text eol=lf
/method_B/**/*.md text eol=lf
/method_B/**/*.txt text eol=lf
/method_B/**/*.tsv text eol=lf
/method_B/**/*.csv text eol=lf
/method_B/**/*.meme text eol=lf

/method_B/**/*.png binary
/method_B/**/*.pdf binary
/method_B/**/*.svg text eol=lf
